/* Reset some default browser styles */
body, h1, h2, h3, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

/* Set default font family and size */
body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

/* Set background color and text color */
body {
    background-color: #f8f9fa;
    color: #495057;
}

/* Add some padding to the body */
body {
    padding: 20px;
}

/* Set maximum width for content and center it */
.container {
    max-width: 960px;
    margin: 0 auto;
}

/* Apply a box shadow to the container */
.container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style headings */
h1, h2, h3 {
    color: #007bff;
}

/* Style links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.highlight {
    background-color: yellow;
}

button:hover { color: blue; }

p {
    font-family: "Arial", sans-serif; /*Specifies the font family for text.*/
    font-size: 16px; /*  Sets the size of the font. */
    font-weight: bold; /* Defines the thickness of the font. */
    font-style: italic; /* Specifies the font style (normal, italic, or oblique). */
    line-height: 1.5; /*  Sets the height of a line of text. */
    color: #333;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-item {
    flex: 1;
    padding: 10px;
}

.grid-container {
    display: grid;
}

.grid-item {
    /* Styles for grid items */
    opacity: .5;
}

